<!DOCTYPE html>
<html lang="id">

<head>
    <title>SPK Topsis</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            border-collapse: collapse;
        }
        
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <header>
        <h1>SPK dengan Topsis</h1>
        <h3>Dibuat Oleh Kelompok 4 Sistem Informasi UR 2015:</h3>
        <ul>
            <li>Frans Feby</li>
            <li>Haris Sucipto</li>
            <li>Ilfa Diana Nasution</li>
            <li>Vivi Novriyanti</li>
        </ul>
        <hr>
    </header>

    <div id="app">
        <table>
            <caption>Input Data</caption>
            <thead>
                <tr>
                    <td>No</td>
                    <td>Nama Alternatif</td>
                    <td>C1</td>
                    <td>C2</td>
                    <td>C3</td>
                    <td>C4</td>
                    <td>C5</td>
                </tr>
            </thead>
            <tbody v-for="(v, k) in namaAlternatif">
                <tr>
                    <td>{{k + 1}}</td>
                    <td><input v-model="namaAlternatif[k]"></td>
                    <td><input v-model="c1[k]"></td>
                    <td><input v-model="c2[k]"></td>
                    <td><input v-model="c3[k]"></td>
                    <td><input v-model="c4[k]"></td>
                    <td><input v-model="c5[k]"></td>
                </tr>
            </tbody>
        </table>
        <div>
            <p>Input Bobot setiap kriteria C1, C2, … C5:</p>
            <ul v-for="(v, k) in bobotCN">
                <li>C{{k + 1}} : <input v-model="bobotCN[k]"></li>
            </ul>
        </div>

        <button @click="keputusanTernormalisasi">Cari Solusi</button>

        <div id="jawaban" v-if="isJawaban">
            <h2>Solusi yang diberikan yaitu</h2>
            <table>
                <thead>
                    <tr>
                        <td>No</td>
                        <td>Nama Alternatif</td>
                        <td>Nilai Jarak Kedekatan (V)</td>
                    </tr>
                </thead>
                <tbody v-for="(value, i) in solusinya">
                    <tr>
                        <td>{{i + 1}}</td>
                        <td>{{value.name}}</td>
                        <td>{{value.solusi}}</td>
                    </tr>
                </tbody>
            </table>

            <hr>
            <p>dari Nilai Jarak Kedekatan v (dari setiap alternatif terhadap solusi ideal) diproleh nilai {{ solusinya[0].name}} memiliki nilai terbesar sehingga yang akan dipilih yaitu <b> {{solusinya[0].name}}</b> sebagai solusi terbaik </p>
        </div>
    </div>



    <script src="./vue.js"></script>
    <script src="./math.js"></script>
    <script src="./underscore-min.js"></script>
    <script src="./index.js"></script>
</body>

</html>